<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>
    DIN Services
  </title>
  <style type="text/css">
    .center_{
      display: flex;justify-content: center; padding-top: 15px;padding-bottom: 15px;
    }
  </style>
</head>
<body>

<!-- Landing Page -->
<section class="center_">
  <div class="card">
  <div class="card-header">
    Enquire DIN Status
  </div>
  <div class="card-body">
  	<form method="get">
  		<div class="form-row">
  		 	{% for field in form %}
  		 	<div class="col" style="padding: 14px;">
  		 		{{ field }}
  				<small id="name" class="text-muted">
        		 {{ field.label_tag }}
        		</small>
  		 	</div>
  		 	{% endfor %}
  		 </div>
  		<div class="center_">
    		<button type="submit" class="btn btn-primary">Search Tax Payer</button>
    	</div>
  	</form>	
  </div>
  </div>
</section>
</div>



<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>

